img{border: 1px solid black; padding: 5px; height: 362px;}

.box{float:left; width: 330px;}
.title{ width: 260px; text-overflow: ellipsis;white-space: nowrap; overflow: hidden;}
.box p{display:none;}
